Source: gstatsd
Maintainer: Patrick Hensley <spaceboy@indirect.com>
Homepage: http://github.com/phensley/gstatsd
Section: python
X-Python-Version: >= 2.7
Priority: optional
Build-Depends: debhelper (>= 8),
               dh-python,
               python-all (>= 2.7.3),
               python-setuptools
Standards-Version: 3.9.5

Package: python-gstatsd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gevent, python-yaml
Description: A statsd service implementation in Python + gevent.
 .
 This is a Python 2 compatible package.
